<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.url == "{{ site.baseurl | prepend: site.url }}" %} class="alt" {% endif %}>
		<h1><a href="{{ site.baseurl | prepend: site.url }}">Health, Healing, and Hope (H3)</a> with Laura</h1>
		{% include menu.html %}


	</header>



	{% if page.layout == "default" %}
	<!-- Banner -->
	<section id="banner" class="modern-banner">
		<div class="banner-content">
			<h2>{{ site.title }}</h2>
			<p class="banner-description">{{ site.description }}</p>
			<div class="banner-actions">
				<a href="{{ site.baseurl | prepend: site.url }}/aboutme" class="button special">About Me</a>
				<a href="{{ site.baseurl | prepend: site.url }}/blog" class="button">Explore Blog</a>
			</div>
		</div>
	</section>
	{% else %}
	<!-- Main -->
	<!--	<section id="main" class="container">
		<header>
			<h2>{{ page.title }}</h2>
			<p>{{ page.description }}</p> -->



	{% endif %}