<nav id="nav" class="modern-nav">
	<ul class="main-nav">
		<li><a href="{{ site.baseurl | prepend: site.url }}">Home</a></li>
		<li><a href="{{ site.baseurl | prepend: site.url }}/aboutme">About</a></li>
		<li><a href="{{ site.baseurl | prepend: site.url }}/blog">Blog</a></li>
		<li class="has-dropdown">
			<a href="{{ site.baseurl | prepend: site.url }}/tag/recipes">Recipes</a>
			<ul class="dropdown">
				<li><a href="{{ site.baseurl | prepend: site.url }}/tag/recipes">All Recipes</a></li>
				<li><a href="{{ site.baseurl | prepend: site.url }}/tag/favorite-recipes">My Favorites</a></li>
				<li><a href="{{ site.baseurl | prepend: site.url }}/tag/desserts">Desserts</a></li>
				<li><a href="{{ site.baseurl | prepend: site.url }}/tag/gluten-free">Gluten Free</a></li>
				<li><a href="{{ site.baseurl | prepend: site.url }}/tag/paleo">Paleo</a></li>
			</ul>
		</li>
		<li><a href="{{ site.baseurl | prepend: site.url }}/christmas" class="highlight">Christmas E-Book</a></li>
		<li><a href="{{ site.baseurl | prepend: site.url }}/recommended-items">Resources</a></li>
	</ul>
	
	<ul class="nav-actions">
		<li><a href="{{ site.baseurl | prepend: site.url }}/search" class="search-icon" aria-label="Search"><i class="fas fa-search"></i></a></li>
		<li class="social-icons">
			<a href="https://www.instagram.com/lauramsanders/" target="_blank" rel="noopener" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
			<a href="https://www.facebook.com/h3withlaura" target="_blank" rel="noopener" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
		</li>
		<li class="mobile-menu-toggle">
			<button class="hamburger" aria-label="Menu">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</li>
	</ul>
</nav>
